services:
  # 1. 로컬 전용 서비스 정의
  templates-app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_PATH: templates
        MODULE_NAME: templates
    container_name: templates-app
    environment:
      - SERVER_SERVLET_CONTEXT_PATH=/templates
      - API_URL=http://member-app:8080/internal/api
    networks:
      - game-network

  # 2. 로컬전용 라우팅 세팅
  hub-nginx:
    volumes:
      - ./nginx/nginx.dev.conf:/etc/nginx/conf.d/default.conf
  # 3. 다른 서비스들: 로컬에서는 이미지가 아니라 소스 코드로 직접 빌드
  catchmind-app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_PATH: modules/catchMind
        MODULE_NAME: catchMind

  kkutu-app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_PATH: modules/KKUTU
        MODULE_NAME: KKUTU

  oh_mock-app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_PATH: modules/Oh_Mock
        MODULE_NAME: Oh_Mock

  yacht_dice-app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_PATH: modules/Yacht_Dice
        MODULE_NAME: Yacht_Dice

  indian_poker-app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_PATH: modules/indian_poker
        MODULE_NAME: indian_poker

  mahe-app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_PATH: modules/mahe
        MODULE_NAME: mahe

  uno-app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_PATH: modules/UNO
        MODULE_NAME: UNO

  clue-app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_PATH: modules/Clue
        MODULE_NAME: Clue

  member-app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        MODULE_PATH: member
        MODULE_NAME: member